*.pyc
src
.netrwhist
lazy-lock.json
.vim/bundle
.vim/spell
.mail/.msmtprc
\#*
.emacs.d/.python-environments
.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/emacs-backups
.emacs.d/recentf
.emacs.d/smex-items
.emacs.d/abbrev_defs
.emacs.d/.#smex-items
.config/yazi/plugins
