xterm*locale: true
xterm*utf8: 1

URxvt.scrollBar: false

! URxvt.font:     xft:courier new:size=12:antialias=false
! URxvt.boldFont: xft:courier new:bold:size=12:antialias=false
URxvt.font:     xft:Inconsolata:size=16:antialias=true
URxvt.boldFont: xft:Inconsolata:bold:size=16:antialias=true

URxvt.font-size.step: 1

URxvt.keysym.M-plus:    perl:font-size:increase
URxvt.keysym.M-minus:   perl:font-size:decrease
URxvt.keysym.M-S-plus:  perl:font-size:incglobal
URxvt.keysym.M-S-minus: perl:font-size:decglobal

URxvt.iso14755: false
URxvt.iso14755_52: false

!$ wget https://raw.githubusercontent.com/majutsushi/urxvt-font-size/master/font-size -O ~/.urxvt/ext/font-size
URxvt.perl-ext-common: default,matcher,font-size

URxvt.colorUL: #66AABB
URxvt.url-launcher: /usr/bin/google-chrome-stable
! URxvt.url-launcher: firefox
URxvt.matcher.button: 1

XTerm.VT100.renderFont: true
XTerm.VT100.faceName: eutouhot
! XTerm.VT100.faceName: bitstream vera sans mono
XTerm.VT100.faceSize:  12
XTerm.VT100.faceSize1: 9
XTerm.VT100.faceSize2: 10
XTerm.VT100.faceSize3: 12
XTerm.VT100.faceSize4: 14
XTerm.VT100.faceSize5: 16
XTerm.VT100.faceSize6: 20

xterm*termName: xterm-256color
XTerm*locale: true
xterm*toolBar: false
xterm*scrollBar: false
xterm*rightScrollBar: false

XTerm.vt100.metaSendsEscape: true

!change font size with <meta>-<+/->
XTerm.VT100.translations: #override \
Meta <Key> minus: smaller-vt-font() \n\
Meta <Key> plus: larger-vt-font() \n\
Meta <Key> KP_Subtract: smaller-vt-font() \n\
Meta <Key> KP_Add: larger-vt-font() \n\

! Super <Key> minus: smaller-vt-font() \n\
! Super <Key> plus: larger-vt-font() \n\
! Super <Key> KP_Subtract: smaller-vt-font() \n\
! Super <Key> KP_Add: larger-vt-font() \n


*background: #050505
*foreground: #dddddd

!black
*color0: #050505
*color8: #404040

!red
*color1: #E84F4F
*color9: #d23D3D

!green
*color2: #B7CE42
*color10: #BDE077

!yellow
*color3: #FEA63C
*color11: #FFE863

!blue
*color4: #66AABB
*color12: #AACCBB

!cyan
*color6: #5E7175
*color14: #A3BABF

!white
*color7: #DDEEDD
*color15: #EEFFFF

!magenta
*color5: #B8002E
*color13: #FF3366
